body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font: 20px Arial, sans-serif;
}
body.res320x240 {
    font-size: 9px;
}
body.res640x480 {
    font-size: 18px;
}
body.res800x600 {
    font-size: 25px;
}
body.res1024x768 {
    font-size: 30px;
}
body.res1280x1024 {
    font-size: 35px;
}
body.res1920x1080 {
    font-size: 40px;
}

#display {
    position: relative;
    margin: 0 auto;
    padding: 0;
}
body.res320x240 #display {
    width: 320px;
}
body.res640x480 #display {
    width: 640px;
}
body.res800x600 #display {
    width: 800px;
}
body.res1024x768 #display {
    width: 1024px;
}
body.res1280x1024 #display {
    width: 1280px;
}
body.res1920x1080 #display {
    width: 1920px;
}

table, input, button, select {
    font: inherit;
}

#camera-params-icon {
    position: absolute;
    top: 0.25em;
    right: 5.5em;
    width: 1.25em;
}
#camera-params-icon::before {
    content: "\1f39a";
}
#camera-params-icon:hover {
    cursor: pointer;
}
#camera-params {
    position: absolute;
    top: 1.75em;
    right: 0.25em;
}

#session-state-box {
    position: absolute;
    top: 0.25em;
    right: 4.25em;
    width: 1.25em;
}
#session-state-box:hover {
    cursor: pointer;
}
#session-state-box::before {
    content: "\1f512";
}
#session-state-box.active::before {
    content: "\1f44c";
}

#voltage-box {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    width: 4em;
}
#voltage-box:hover {
    cursor: pointer;
}
#voltage::before {
    content: "\1f50b";
}
#voltage.low::before {
    content: "\1faab";
}

#video-box {
    text-align: center;
}
#video-box img {
    margin: 0;
    padding: 0 0;
}

#button-box {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}
#button-table {
    margin: 0;
    padding: 0;
    width: 100%;
}
#button-table td {
    margin: 0;
    padding: 0;
    text-align: center;
}
#robot-move, #camera-move {
    width: 9em;
}
#button-box button {
    margin: 0;
    opacity: 0.2;
    color: black;
    background-color: white;
    width: 3em;
    height: 3em;
}
#button-box button.down {
    background-color: #00ff00;
}
