body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
#voltage-box {
    position: absolute;
    top: 0;
    left: 0;
}
#video-box, #voltage-box {
    text-align: center;
}
#video-box img {
    margin: 0;
}
#button-box {
    position: relative;
    top: -4em;
    text-align: center;
    font-size: 200%;
}
#button-table {
    margin: 0;
    padding: 0;
    width: 100%;
}
#button-table td {
    margin: 0;
    padding: 0;
    text-align: center;
}
#robot-move, #camera-move {
    width: 6em;
}
#button-box button {
    margin: 0;
    width: 2em;
    height: 2em;
    opacity: 0.3;
    font-size: inherit;
    background-color: white;
}
#button-box button.down {
	background-color: #00ff00;
}
