body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
#voltage-box {
    position: relative;
    width: 640px;
    height: 20px;
    margin: 0 auto -20px auto;
    z-index: 1;
}
#video-box {
    width: 640px;
    margin: 0 auto;
    text-align: center;
}
#video-box img {
    margin: 0;
}
#button-box {
    width: 640px;
    margin: 0 auto;
    position: relative;
    top: -140px;
    text-align: center;
}
#button-table {
    margin: 0;
    padding: 0;
    width: 100%;
}
#button-table td {
    margin: 0;
    padding: 0;
    text-align: center;
}
#robot-move, #camera-move {
    width: 120px;
}
#button-box button {
    margin: 0;
    width: 40px;
    height: 40px;
    opacity: 0.25;
    font-size: inherit;
    color: black;
    background-color: white;
}
#button-box button.down {
    background-color: #00ff00;
}
